/* Default styles for light mode */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0% 20% 5% 20%;
  background-image: url('bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  color: #333333; 
}

nav a:hover{
  color:red;
}
.dark-mode nav a:hover{
  color:red;
}

#myButton {
  background-color: lightblue; 
  color: black; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcard {
  width: 300px;
  height: 300px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.back {
  transform: rotateY(180deg);
  background-color: #f0f0f0; /* Example background color */
  color: #333; /* Example text color */
}

.flashcard.flipped {
  transform: rotateY(180deg);
}
#Achieved p{
  box-sizing: border-box;
  box-shadow: 0 5px 10px black;
  padding: 10px;
  margin: 5px 0;
}

#education p {
  /* Light mode border color */
  box-sizing: border-box;
  box-shadow: 0 5px 10px black;
  padding: 10px;
  margin: 5px 0;
}

/* Navigation styles for light mode */

nav {
  top: 0;
  left: 1;
  width: 100%;
  
  padding: 10px;
  z-index: 1000;
  border: 2px solid grey; /* Adding a grey border to the nav */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px black;
}

nav ul li a {
  text-decoration: none;
  color: #333333; /* Dark text color for nav links */
}

/* Dark mode */
.dark-mode {
  /* Background and text colors for dark mode */
  background-color: #1f1f1f; /*Dark background color */
  background-image: url('black.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  color: #ffffff; /* Light text color */
}

/* Toggle border colors based on dark mode */
.dark-mode #education p {
  /* Dark mode border color */
  box-sizing: border-box;
  box-shadow: 0px 5px 10px white;
}
.dark-mode #Achieved {
  box-sizing: border-box;
  box-shadow: 0px 5px 10px white;
}

/* Navigation styles for dark mode */
.dark-mode nav {
  background-color: #1f1f1f; /* Dark background color for nav bar */
  padding: 10px;
}
.dark-mode #myButton {
  background-color: grey;
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
}
.dark-mode nav ul li {
  display: inline;
  margin-right: 20px;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px grey;
}
.dark-mode nav ul li a {
  color: #ffffff; 
}
#experience p {
  box-sizing: border-box;
  box-shadow: 0 5px 10px black;
  
}
.dark-mode #experience p {
  box-sizing: border-box;
  box-shadow: 0 5px 10px white;
  
}
/* CSS for the flipped class to create a flip animation */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Dark mode styles */
.dark-mode .popup-container {
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); 
}

.dark-mode .popup-content {
  background-color: #1f1f1f; 
  color: #ffffff; 
  border: 1px solid #ffffff; 
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); 
}

@media screen and (max-width: 768px) {
  nav {
    
    padding: 5px; 
  }

  nav ul {
    display: block; 
    text-align: center; 
  }

  nav ul li {
    display: block; 
    margin: 10px 0; 
  }

  
}
